body{
    background-color: #063f01;
    text-align: center;
}

/* Link */
.decoration{
    text-decoration: none;
    color: #156b0f;
}
.decoration:hover{
    color: rgb(168, 29, 29);
}
/* Cabeçalho */
.fixo{
    position: fixed;
    left: 0;
    top: 0;
    font-size: 29px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #063f01;
    margin: 0px;
    color: #ffffff;
}
/* Conteúdo */
.espaco{
    padding-left: 50px;
    font-weight: 50px;
    
}
p{
    font-size: 20px;
    color: #ffffff;
}
#baixo{
    padding-top: 140px;
}
h2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}
/* Formulário */
#form{
    text-align: center;
}
input, textarea{
    border-radius: 5px;
    border: 1px solid #0b5e0e;
    background-color: #063f01;
}
label{
    
    font-size: 20px;
    color: #ffffff;
}
fieldset{
    border: 0;
}
/* Lista */
.limpo{
    list-style: none;
    color: #ffffff;
}
li{
    font-size: 20px;
}

/* Botão */
.btn{
    border: none;
    padding: 7px 14px;
    background-color: #26a531;
    color: #063f01;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 7px;
    font-size: large;
}
.cursor{
    cursor: pointer;
}
.btn:hover{
    border: none;
    padding: 7px 14px;
    background-color: #063f01;
    color: #26a531;
    cursor: pointer;
}
